.CardArea {
    
    
    height: 84%;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;  
	overflow-y: scroll;
}



.NavArea{
    background-color: #f3f3f3;
    height: 8%;
    width: 100%;
    margin: 0;
}

.FooterArea{
    background-color: #f3f3f3;
    height: 8%;
    width: 100%;
    margin: 0;
    position: fixed; bottom: 0;
}
.WholePage {
    width: 100%;
    height: 100%;
    margin: 0;
}